
<div class="container show">
    <div class="contentframe">
        <p>{{courses.subject}}</p>
        <h1>{{courses.title}}</h1>
        <div class="author">
            <h5>{{ fullname usermid.firstname usermid.lastname}}</h5>
            <p>{{courses.createdAt}}</p>
        </div>
        <div>
            <img src="{{courses.img}}"/>
        </div>
        <div>{{{courses.body}}}</div>
    </div>
</div>

